.h1 {
    border-bottom: 5px solid #FFFFFF;
    color: #FFFFFF;
    font-family: 'Bradley Hand', cursive;
    font-size: 42px;
    line-height: 60px;
    text-shadow: 2px 2px #555555;
}

.text-shadow {
  text-shadow: 0.5px 0.5px 0.5px #000000;

  &.btn.btn-warning {
    text-shadow: 0.5px 0.5px #FFFFFF;
  }
}

.black-team-color > span {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    display: block;
    height: 50px;
    min-height: 50px;
    min-width: 50px;
    width: 50px;

    &.knight-1 {
        background-image: url("../../assets/images/chess-pieces-01/chess-king-black.png");
    }

    &.knight-2 {
        background-image: url("../../assets/images/chess-pieces-02/black_knight.png");
        background-size: 50%;
    }

    &.knight-3 {
        background-image: url("../../assets/images/chess-pieces-03/bishop_gold.png");
    }
}

@media only screen and (max-width: 767px) {
    .h1 {
        border-bottom: 2px solid #FFFFFF;
        font-size: 30px;
        line-height: 40px;
        text-shadow: 1px 1px #555555;
    }
}
