<div *ngFor="let p of player1Panel.pawns.slice(0, 5)">pawn</div>
<div *ngFor="let p of player1Panel.pawns.slice(5)">pawn</div>
<div *ngFor="let r of player1Panel.rooks">rook</div>
<div *ngFor="let k of player1Panel.knights">knight</div>
<div *ngFor="let b of player1Panel.bishops">bishop</div>
<div *ngFor="let q of player1Panel.queens">queen</div>
<div></div>
<div *ngFor="let p of player2Panel.pawns.slice(0, 5)">pawn</div>
<div *ngFor="let p of player2Panel.pawns.slice(5)">pawn</div>
<div *ngFor="let r of player2Panel.rooks">rook</div>
<div *ngFor="let k of player2Panel.knights">knight</div>
<div *ngFor="let b of player2Panel.bishops">bishop</div>
<div *ngFor="let q of player2Panel.queens">queen</div>
