<div class="d-block border rounded capture-panel">
    <div>
        <span *ngFor="let p of [0, 1, 2, 3]; let index = index" [ngClass]="getClassStyling(1, 2, index)" [@fadein]="'in'"></span>
    </div>
    <div>
        <span *ngFor="let p of [4, 5, 6, 7]; let index = index" [ngClass]="getClassStyling(1, 2, index + 4)" [@fadein]="'in'"></span>
    </div>
    <div>
        <span *ngFor="let r of [0, 1]; let index = index" [ngClass]="getClassStyling(2, 2, index)" [@fadein]="'in'"></span>
    </div>
    <div>
        <span *ngFor="let k of [0, 1]; let index = index" [ngClass]="getClassStyling(3, 2, index)" [@fadein]="'in'"></span>
    </div>
    <div>
        <span *ngFor="let b of [0, 1]; let index = index" [ngClass]="getClassStyling(4, 2, index)" [@fadein]="'in'"></span>
    </div>
    <div>
        <span [ngClass]="getClassStyling(5, 2, 0)" [@fadein]="'in'"></span>
    </div>
</div>
<div class="d-block border rounded capture-panel mt-2">
    <div>
        <span *ngFor="let p of [0, 1, 2, 3]; let index = index" [ngClass]="getClassStyling(1, 1, index)" [@fadein]="'in'"></span>
    </div>
    <div>
        <span *ngFor="let p of [4, 5, 6, 7]; let index = index" [ngClass]="getClassStyling(1, 1, index + 4)" [@fadein]="'in'"></span>
    </div>
    <div>
        <span *ngFor="let r of [0, 1]; let index = index" [ngClass]="getClassStyling(2, 1, index)" [@fadein]="'in'"></span>
    </div>
    <div>
        <span *ngFor="let k of [0, 1]; let index = index" [ngClass]="getClassStyling(3, 1, index)" [@fadein]="'in'"></span>
    </div>
    <div>
        <span *ngFor="let b of [0, 1]; let index = index" [ngClass]="getClassStyling(4, 1, index)" [@fadein]="'in'"></span>
    </div>
    <div>
        <span [ngClass]="getClassStyling(5, 1, 0)" [@fadein]="'in'"></span>
    </div>
</div>
