.rotate {
    transform: rotate(180deg);
}

.black-team-color {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 4vw;
    display: inline-block;
    height: 4vw;
    min-height: 4vw;
    min-width: 4vw;
    width: 4vw;

    &.king-1 {
        background-image: url("../../assets/images/chess-pieces-01/chess-king-black.png");
    }

    &.king-2 {
        background-image: url("../../assets/images/chess-pieces-02/black_king.png");
        background-size: 2.5vw;
    }

    &.king-3 {
        background-image: url("../../assets/images/chess-pieces-03/king_green.png");
    }

    &.queen-1 {
        background-image: url("../../assets/images/chess-pieces-01/chess-queen-black.png");
    }

    &.queen-2 {
        background-image: url("../../assets/images/chess-pieces-02/black_queen.png");
        background-size: 2.5vw;
    }

    &.queen-3 {
        background-image: url("../../assets/images/chess-pieces-03/queen_green.png");
    }

    &.bishop-1 {
        background-image: url("../../assets/images/chess-pieces-01/chess-bishop-black.png");
    }

    &.bishop-2 {
        background-image: url("../../assets/images/chess-pieces-02/black_bishop.png");
        background-size: 2.5vw;
    }

    &.bishop-3 {
        background-image: url("../../assets/images/chess-pieces-03/bishop_green.png");
    }

    &.knight-1 {
        background-image: url("../../assets/images/chess-pieces-01/chess-knight-black.png");
    }

    &.knight-2 {
        background-image: url("../../assets/images/chess-pieces-02/black_knight.png");
        background-size: 2.5vw;
    }

    &.knight-3 {
        background-image: url("../../assets/images/chess-pieces-03/knight_green.png");
    }

    &.rook-1 {
        background-image: url("../../assets/images/chess-pieces-01/chess-rook-black.png");
    }

    &.rook-2 {
        background-image: url("../../assets/images/chess-pieces-02/black_rook.png");
        background-size: 2.5vw;
    }

    &.rook-3 {
        background-image: url("../../assets/images/chess-pieces-03/rook_green.png");
    }

    &.pawn-1 {
        background-image: url("../../assets/images/chess-pieces-01/chess-pawn-black.png");
    }

    &.pawn-2 {
        background-image: url("../../assets/images/chess-pieces-02/black_pawn.png");
        background-size: 2.5vw;
    }

    &.pawn-3 {
        background-image: url("../../assets/images/chess-pieces-03/pawn_green.png");
    }
}

.white-team-color {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 4vw;
    display: inline-block;
    height: 4vw;
    min-height: 4vw;
    min-width: 4vw;
    width: 4vw;

    &.king-1 {
        background-image: url("../../assets/images/chess-pieces-01/chess-king-white.png");
    }

    &.king-2 {
        background-image: url("../../assets/images/chess-pieces-02/white_king.png");
        background-size: 2.5vw;
    }

    &.king-3 {
        background-image: url("../../assets/images/chess-pieces-03/king_gold.png");
    }

    &.queen-1 {
        background-image: url("../../assets/images/chess-pieces-01/chess-queen-white.png");
    }

    &.queen-2 {
        background-image: url("../../assets/images/chess-pieces-02/white_queen.png");
        background-size: 2.5vw;
    }

    &.queen-3 {
        background-image: url("../../assets/images/chess-pieces-03/queen_gold.png");
    }

    &.bishop-1 {
        background-image: url("../../assets/images/chess-pieces-01/chess-bishop-white.png");
    }

    &.bishop-2 {
        background-image: url("../../assets/images/chess-pieces-02/white_bishop.png");
        background-size: 2.5vw;
    }

    &.bishop-3 {
        background-image: url("../../assets/images/chess-pieces-03/bishop_gold.png");
    }

    &.knight-1 {
        background-image: url("../../assets/images/chess-pieces-01/chess-knight-white.png");
    }

    &.knight-2 {
        background-image: url("../../assets/images/chess-pieces-02/white_knight.png");
        background-size: 2.5vw;
    }

    &.knight-3 {
        background-image: url("../../assets/images/chess-pieces-03/knight_gold.png");
    }

    &.rook-1 {
        background-image: url("../../assets/images/chess-pieces-01/chess-rook-white.png");
    }

    &.rook-2 {
        background-image: url("../../assets/images/chess-pieces-02/white_rook.png");
        background-size: 2.5vw;
    }

    &.rook-3 {
        background-image: url("../../assets/images/chess-pieces-03/rook_gold.png");
    }

    &.pawn-1 {
        background-image: url("../../assets/images/chess-pieces-01/chess-pawn-white.png");
    }

    &.pawn-2 {
        background-image: url("../../assets/images/chess-pieces-02/white_pawn.png");
        background-size: 2.5vw;
    }

    &.pawn-3 {
        background-image: url("../../assets/images/chess-pieces-03/pawn_gold.png");
    }
}
