<div class="container-fluid">
  <div class="col-10 col-md-6 offset-1 offset-md-3">
    <div class="row text-center">
      <div class="col-6 col-md-2 order-6 order-md-1 my-auto">
        <button
          class="btn btn-sm btn-danger btn-default text-shadow shadow rounded"
          (click)="exitHelp()"
          ngbTooltip="Go Back"
          tooltipClass="chess-tooltip"
          placement="bottom"
          type="button">Exit</button>
      </div>
      <div class="col-12 col-md-8 order-1 order-md-6 mt-2 mb-3">
        <span class="h1">Chess</span>
      </div>
      <div class="col-6 col-md-2 order-12 my-auto">
        <div class="btn-group btn-group-sm d-sm-inline-block">
          <button
            class="btn btn-info text-shadow shadow"
            [disabled]="activePage <= 1"
            (click)="prevPage()"
            type="button"><span class="fa fa-backward"></span></button>
          <button
            class="btn btn-info text-shadow shadow"
            [disabled]="activePage >= totalPages"
            (click)="nextPage()"
            type="button"><span class="fa fa-forward"></span></button>
        </div>
      </div>
    </div>
    <div *ngIf="activePage === 1" class="d-flex justify-content-center">
      <div class="col text-left text-white pb-2 pt-2">
        <div class="h4">
          Pawn Moves 01: A pawn can move one space (the opposite side of the bard from which it started), if not blocked by another piece.
          <br/>
          <br/>
          <div class="text-center"><img class="img-fluid" src="assets/images/chess-help-01.jpg"/></div>
        </div>
      </div>
    </div>
    <div *ngIf="activePage === 2" class="d-flex justify-content-center">
      <div class="col text-left text-white pb-2 pt-2">
        <div class="h4">
          Pawn Moves 02: For its first move, a pawn can move vertically two spaces if it isn't blocked by another piece.
          <br/>
          <br/>
          <div class="text-center"><img class="img-fluid" src="assets/images/chess-help-02.jpg"/></div>
        </div>
      </div>
    </div>
    <div *ngIf="activePage === 3" class="d-flex justify-content-center">
      <div class="col text-left text-white pb-2 pt-2">
        <div class="h4">
          Pawn Moves 03: A pawn can capture an opponent piece only by moving diagonoally one space in its permitted vertical direction.
          <br/>
          <br/>
          <div class="text-center"><img class="img-fluid" src="assets/images/chess-help-03.jpg"/></div>
        </div>
      </div>
    </div>
    <div *ngIf="activePage === 4" class="d-flex justify-content-center">
      <div class="col text-left text-white pb-2 pt-2">
        <div class="h4">
          Knight Moves: Any combination of two spaces vertically and one horizontally, or two horizontally and one vertically. Order doesn't matter.
          <br/>
          <br/>
          The knight can "jump over" pieces, but can not "land" on it's own pieces.
          <br/>
          <br/>
          <div class="text-center"><img class="img-fluid" src="assets/images/chess-help-04.jpg"/></div>
        </div>
      </div>
    </div>
    <div *ngIf="activePage === 5" class="d-flex justify-content-center">
      <div class="col text-left text-white pb-2 pt-2">
        <div class="h4">
          Rook Moves 01: The rook moves any number of spaces along a straight line, vertically or horizontally.
          <br/>
          <br/>
          <div class="text-center"><img class="img-fluid" src="assets/images/chess-help-05.jpg"/></div>
        </div>
      </div>
    </div>
    <div *ngIf="activePage === 6" class="d-flex justify-content-center">
      <div class="col text-left text-white pb-2 pt-2">
        <div class="h4">
          Rook Moves 02: A rook is blocked by its own pieces. It can't jump pieces like a knight.
          <br/>
          <br/>
          It can capture an enemy piece along those straight lines, but again can't jump pieces like the knight.
          <br/>
          <br/>
          <div class="text-center"><img class="img-fluid" src="assets/images/chess-help-06.jpg"/></div>
        </div>
      </div>
    </div>
    <div *ngIf="activePage === 7" class="d-flex justify-content-center">
      <div class="col text-left text-white pb-2 pt-2">
        <div class="h4">
          Bishop Moves 01: The bishop moves along a diagonal line in any of the four directions from its position.
          <br/>
          <br/>
          <div class="text-center"><img class="img-fluid" src="assets/images/chess-help-07.jpg"/></div>
        </div>
      </div>
    </div>
    <div *ngIf="activePage === 8" class="d-flex justify-content-center">
      <div class="col text-left text-white pb-2 pt-2">
        <div class="h4">
          Bishop Moves 02: A bishop is blocked by its own pieces. It can't jump pieces like a knight.
          <br/>
          <br/>
          It can capture an enemy piece along those diagonal lines, but again can't jump pieces like the knight.
          <br/>
          <br/>
          <div class="text-center"><img class="img-fluid" src="assets/images/chess-help-08.jpg"/></div>
        </div>
      </div>
    </div>
    <div *ngIf="activePage === 9" class="d-flex justify-content-center">
      <div class="col text-left text-white pb-2 pt-2">
        <div class="h4">
          Queen Moves: The queen is unique in that it can do what both the bishop and the rook can do.
          <br/>
          <br/>
          <div class="text-center"><img class="img-fluid" src="assets/images/chess-help-09.jpg"/></div>
        </div>
      </div>
    </div>
    <div *ngIf="activePage === 10" class="d-flex justify-content-center">
      <div class="col text-left text-white pb-2 pt-2">
        <div class="h4">
          King Moves 01: The king can move one space in any direction, except when blocked by one of its own pieces.
          <br/>
          <br/>
          Note: it can't move into a space that an enemy piece can attack during its upcoming turn.
          <br/>
          <br/>
          <div class="text-center"><img class="img-fluid" src="assets/images/chess-help-10.jpg"/></div>
        </div>
      </div>
    </div>
    <div *ngIf="activePage === 11" class="d-flex justify-content-center">
      <div class="col text-left text-white pb-2 pt-2">
        <div class="h4">
          King Moves 02: If the king hasn't made a move before, and the same goes for one of the rooks, it can perform a maneuver called "castling".
          <br/>
          <br/>
          The king moves two spaces toward the rook, and the rook moves to the opposite side of the king from which it started.
          <br/>
          <br/>
          Note: the spaces between the king and rook must be empty for this maneuver to work.
          <br/>
          <br/>
          <div class="text-center"><img class="img-fluid" src="assets/images/chess-help-11.jpg"/></div>
        </div>
      </div>
    </div>
    <div *ngIf="activePage === 12" class="d-flex justify-content-center">
      <div class="col text-left text-white pb-2 pt-2">
        <div class="h4">
          Promotion: When a pawn reaches the opposite end of the board, it gets promoted.
          <br/>
          <br/>
          You can choose to replace it with a queen, bishop, knight, or a rook by selecting the corresponding option on the left side of the screen.
          <br/>
          <br/>
          <div class="text-center"><img class="img-fluid" src="assets/images/chess-help-12.jpg"/></div>
        </div>
      </div>
    </div>
    <div *ngIf="activePage === 13" class="d-flex justify-content-center">
      <div class="col text-left text-white pb-2 pt-2">
        <div class="h4">
          Checking: When a player's move ends with a piece capable of attacking their opponent's king, that opponent is in check.
          <br/>
          <br/>
          That opponent must get their king out of check in their next turn.
          <br/>
          <br/>
          <div class="text-center"><img class="img-fluid" src="assets/images/chess-help-13.jpg"/></div>
        </div>
      </div>
    </div>
    <div *ngIf="activePage === 14" class="d-flex justify-content-center">
      <div class="col text-left text-white pb-2 pt-2">
        <div class="h4">
          Checkmate: If the opponent can't get their king out of check, they lose.
          <br/>
          <br/>
          <div class="text-center"><img class="img-fluid" src="assets/images/chess-help-14.jpg"/></div>
        </div>
      </div>
    </div>
    <div *ngIf="activePage === 15" class="d-flex justify-content-center">
      <div class="col text-left text-white pb-2 pt-2">
        <div class="h4">
          Stalemate 01: If a player is unable to move without putting themselves into check, the game is considered a stalemate. 
          <br/>
          <br/>
          <div class="text-center"><img class="img-fluid" src="assets/images/chess-help-15.jpg"/></div>
        </div>
      </div>
    </div>
    <div *ngIf="activePage === 16" class="d-flex justify-content-center">
      <div class="col text-left text-white pb-2 pt-2">
        <div class="h4">
          Stalemate 02: When a player has lost all of their pieces save the king,
          <br/>
          <br/>
          they can still manage a stalemate if they survive for 30 turns without going into checkmate.
        </div>
      </div>
    </div>
  </div>
</div>
