<div class="container-fluid">
  <div class="col-10 col-md-6 offset-1 offset-md-3">
    <div class="row text-center">
      <div class="col-6 col-md-2 order-6 order-md-1 my-auto">
        <button
          class="btn btn-sm btn-danger btn-default text-shadow shadow rounded"
          (click)="exitHelp()"
          ngbTooltip="Go Back"
          tooltipClass="chess-tooltip"
          placement="bottom"
          type="button">Exit</button>
      </div>
      <div class="col-12 col-md-8 order-1 order-md-6 mt-2 mb-3">
        <span class="h1">Chess</span>
      </div>
      <div class="col-6 col-md-2 order-12 my-auto">
        <div class="btn-group btn-group-sm d-sm-inline-block">
          <button
            class="btn btn-info text-shadow shadow"
            [disabled]="activePage <= 1"
            (click)="prevPage()"
            type="button"><span class="fa fa-backward"></span></button>
          <button
            class="btn btn-info text-shadow shadow"
            [disabled]="activePage >= totalPages"
            (click)="nextPage()"
            type="button"><span class="fa fa-forward"></span></button>
        </div>
      </div>
    </div>
    <div *ngIf="activePage === 1" class="d-flex justify-content-center">
      <div class="col text-left text-white pb-2 pt-2">
        <div class="h4">
          Pawn Moves 01: A pawn can move one space (the opposite side of the bard from which it started), if not blocked by another piece.
          <br/>
          <br/>
          <div class="text-center"><img class="img-fluid" src="assets/images/chess-help-01.jpg"/></div>
        </div>
      </div>
    </div>
    <div *ngIf="activePage === 2" class="d-flex justify-content-center">
      <div class="col text-left text-white pb-2 pt-2">
        <div class="h4">
          Pawn Moves 02: For its first move, a pawn can move vertically two spaces if it isn't blocked by another piece.
          <br/>
          <br/>
          <div class="text-center"><img class="img-fluid" src="assets/images/chess-help-02.jpg"/></div>
        </div>
      </div>
    </div>
    <div *ngIf="activePage === 3" class="d-flex justify-content-center">
      <div class="col text-left text-white pb-2 pt-2">
        <div class="h4">
          Pawn Moves 03: A pawn can capture an opponent piece only by moving diagonoally one space in its permitted vertical direction.
          <br/>
          <br/>
          <div class="text-center"><img class="img-fluid" src="assets/images/chess-help-03.jpg"/></div>
        </div>
      </div>
    </div>
    <div *ngIf="activePage === 4" class="d-flex justify-content-center">
      <div class="col text-left text-white pb-2 pt-2">
        <div class="h4">
          Knight Moves: Any combination of two spaces vertically and one horizontally, or two horizontally and one vertically. Order doesn't matter.
          <br/>
          <br/>
          The knight can "jump over" pieces, but can not "land" on it's own pieces.
          <br/>
          <br/>
          <div class="text-center"><img class="img-fluid" src="assets/images/chess-help-04.jpg"/></div>
        </div>
      </div>
    </div>
    <div *ngIf="activePage === 5" class="d-flex justify-content-center">
      <div class="col text-left text-white pb-2 pt-2">
        <div class="h4">
          Rook Moves 01: The rook moves any number of spaces along a straight line, vertically or horizontally.
          <br/>
          <br/>
          <div class="text-center"><img class="img-fluid" src="assets/images/chess-help-05.jpg"/></div>
        </div>
      </div>
    </div>
    <div *ngIf="activePage === 6" class="d-flex justify-content-center">
      <div class="col text-left text-white pb-2 pt-2">
        <div class="h4">
          Rook Moves 02: A rook is blocked by its own pieces. It can't jump pieces like a knight.
          <br/>
          <br/>
          It can capture an enemy piece along those straight lines, but again can't jump pieces like the knight.
          <br/>
          <br/>
          <div class="text-center"><img class="img-fluid" src="assets/images/chess-help-06.jpg"/></div>
        </div>
      </div>
    </div>
    <div *ngIf="activePage === 7" class="d-flex justify-content-center">
      <div class="col text-left text-white pb-2 pt-2">
        <div class="h4">
          Bishop Moves 01: The bishop moves along a diagonal line in any of the four directions from its position.
          <br/>
          <br/>
          <div class="text-center"><img class="img-fluid" src="assets/images/chess-help-07.jpg"/></div>
        </div>
      </div>
    </div>
    <div *ngIf="activePage === 8" class="d-flex justify-content-center">
      <div class="col text-left text-white pb-2 pt-2">
        <div class="h4">
          Bishop Moves 02: A bishop is blocked by its own pieces. It can't jump pieces like a knight.
          <br/>
          <br/>
          It can capture an enemy piece along those diagonal lines, but again can't jump pieces like the knight.
          <br/>
          <br/>
          <div class="text-center"><img class="img-fluid" src="assets/images/chess-help-08.jpg"/></div>
        </div>
      </div>
    </div>
  </div>
</div>
