<div class="row no-gutters">
    <ng-container *ngIf="!isJoiningRoom; else joiningRoom">
        <div *ngIf="showNavigationPanel()" class="col-12 col-md-2 order-2 order-md-1 w-100 text-center">
            <div class="d-flex justify-content-center">
                <div class="col text-center text-white mt-2">
                    <span class="h5 d-inline-block mb-2 mb-sm-0">
                        <!-- People Playing Chess: {{ peoplePlaying }} -->
                    </span>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="col text-center text-white mt-md-5 mt-4 mb-2">
                    <button
                        class="btn btn-sm btn-light btn-default text-shadow shadow rounded"
                        (click)="enterHelp(true)"
                        ngbTooltip="See Help Screen"
                        tooltipClass="chess-tooltip"
                        placement="bottom"
                        type="button">Tutorial</button>
                </div>
                <div class="col text-center text-white mt-md-5 mt-4 mb-2">
                    <button
                        class="btn btn-sm btn-danger btn-default text-shadow shadow rounded"
                        (click)="goToMenu()"
                        ngbTooltip="Return to Menu"
                        tooltipClass="chess-tooltip"
                        placement="bottom"
                        type="button">Quit</button>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="col text-center text-white mt-2">
                    <span *ngIf="!gameOver" class="h5 d-inline-block mb-2 mb-sm-0">
                        {{ getPlayerTurnMsg() }}
                        <ng-container *ngIf="opponentIsThinking">
                            <span class="fa fa-gear fa-spin"></span>
                        </ng-container>
                    </span>
                    <span
                        *ngIf="(checkedPlayer === activePlayer) && !gameOver"
                        class="h4 text-warning d-block my-2 mb-sm-0">
                        CHECK!
                    </span>
                    <span *ngIf="gameOver" class="h4 text-primary d-block mb-2 mb-sm-0">CHECK & MATE!</span>
                    <span *ngIf="opponent === 3" class="h5 d-block mb-2 mb-sm-0">Time Remaining: {{ timer }}</span>
                    <div *ngIf="opponent === 2" class="text-center text-md-left d-block mb-2 mb-sm-0 mt-2 pl-1 py-1 border border-light rounded small">
                        <div class="small">Configurations Checked: {{ aiThinkPacket.configsChecked | number }}</div>
                        <div class="small">Configurations Memoized: {{ aiThinkPacket.configsMemoized | number }}</div>
                        <div class="small">Configurations Pruned: {{ aiThinkPacket.configsPruned | number }}</div>
                        <div class="small">Time to Calculate (sec): {{ aiThinkPacket.time }}</div>
                    </div>
                </div>
            </div>
            <div class="d-flex">
                <div class="col text-center text-white mt-2">
                    <ng-container *ngIf="canSubmitMove === 1; else promotePiece">
                        <button (click)="submitMove()" class="btn btn-success btn-sm">Confirm Move</button>
                    </ng-container>
                    <ng-template #promotePiece>
                        <ng-container *ngIf="canSubmitMove === 2">
                            <div class="btn-group">
                                <button
                                    *ngFor="let p of [5, 4, 3, 2]; let index = index"
                                    (click)="submitMove(p)"
                                    class="btn btn-primary w-100 btn-sm pb-0"
                                    tooltipClass="chess-tooltip"
                                    [ngbTooltip]="getPromotionMesg(p)">
                                    <span [ngClass]="getClassStyling(p)"></span>
                                </button>
                            </div>
                        </ng-container>
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="col-12 order-1 order-md-2 w-100" [class.col-md-8]="!helpMode && !showStartMenu()">
            <chess-start-menu
                *ngIf="showStartMenu()"
                (difficultySelected)="changeDifficulty($event)"
                [gameroomCode]="gameroomCode"
                (gameroomCodeEntered)="gameroomCodeEntered($event)"
                (helpSelected)="enterHelp($event)"
                (onlineMethodSelected)="changeOnlineMethod($event)"
                (opponentSelected)="changeOpponent($event)"
                [playerNumber]="playerNumber"
                [peoplePlaying]="peoplePlaying"
                (startSelected)="startGame($event)"
                (styleSelected)="changeStyle($event)"></chess-start-menu>
            <div *ngIf="!showStartMenu() && !helpMode" class="row no-gutters mt-1">
                <div class="col-0 col-md-2"></div>
                <div class="col-12 col-md-7 text-center text-white">
                    <div class="d-flex justify-content-center mb-3">
                        <div class="col text-center">
                            <span class="h1 d-block d-sm-inline-block mb-sm-0">Chess</span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <chess-game-board></chess-game-board>
                    </div>
                </div>
                <div class="col-12 col-md-3 mt-md-3">
                    <div class="mb-md-3">
                        <div class="col text-left text-white pl-0">
                            <span class="h5 d-none d-md-block mb-sm-0 mt-3" style="padding-left: 17px;">Captives</span>
                        </div>
                    </div>
                    <div class="text-center text-md-left ml-md-0 h-100">
                        <chess-captured-pieces-panel class="text-center"
                            [player1Panel]="player1Panel"
                            [player2Panel]="player2Panel"
                            [playerNumber]="playerNumber"
                            [style]="style"></chess-captured-pieces-panel>
                    </div>
                </div>
            </div>
            <chess-help-screen *ngIf="helpMode" (helpSelected)="exitHelp()"></chess-help-screen>
        </div>
    </ng-container>
    <ng-template #joiningRoom>
        <div class="col text-center text-white mt-2">
            <p class="font-weight-bold" style="font-size: 24px; margin-top: 30vh;">Waiting on another player</p>
            <span class="fa fa-gear fa-5x fa-spin"></span>
        </div>
    </ng-template>
</div>

<ng-template #content let-modal>
    <div class="pyro" style="z-index: -10">
        <div class="before"></div>
        <div class="after"></div>
    </div>
    <div class="modal-header" id="modal-gameover-title">
      <h4 class="modal-title text-center text-white text-shadow">PLAYER {{gameOver}} WINS!</h4>
    </div>
    <div class="modal-body" id="modal-gameover-body"></div>
    <div class="modal-footer text-center" id="modal-gameover-footer">
	  <button
	  	id="modalTooltip"
        type="button"
        class="btn btn-primary text-shadow"
        (click)="goToMenu()"
		ngbTooltip="Return to Menu"
        tooltipClass="chess-tooltip"
        placement="bottom">Exit</button>
    </div>
</ng-template>
